*,
::before,
::after {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
}
@font-face {
        font-family: "Poppins";
        src: url(./Poppins-Light.ttf);
}
body {
        font-family: "Poppins";
}
header {
        background-image: url(./images/woman-ga3e6505eb_1920.jpg);
        background-size: cover;
        width: 100vw;
        height: 100vh;
}
nav {
        position: absolute;
        width: 100%;
        height: 25px;
        background-color: #ffffff9d;
}
.liste-items {
        display: flex;
        height: 100%;
        line-height: 25px;
}
.items {
        cursor: pointer;
        margin: 0 30px;
        flex-shrink: 0;
}
.items:nth-child(3) {
        margin-left: 0;
}
/* Sous-liste */
.sous-liste {
        display: none;
}
.items-sous-liste {
        text-align: center;
        padding: 0 10px;
        background-color: rgba(0, 0, 0, 0.591);
        border-bottom: 1px solid #ffffff9d;
}
.items-sous-liste:hover {
        background-color: #ffffff9d;
}
.items-sous-liste:nth-child(3) {
        height: 25px;
}
.items:hover > ul {
        display: block;
}

/* Sous-liste 2 */

.sous-liste2 {
        position: relative;
        left: 67px;
        top: -25px;
        background: rgba(0, 0, 0, 0.591);
        display: none;
}
.items-sous-liste2 {
        border-bottom: 0.5px solid #fff;
}
.items-sous-liste2:hover {
        background-color: #ffffffb4;
}
.items-sous-liste:hover > ul {
        display: block;
}

/* .items > ul > .items-sous-liste >ul { */
/* } */
